
body{
    border: 1px solid black;
    height: 95vh;
    width: 95vw;
}
#tablecontent{
    width: 100%;
    height: 100%;
}
#field{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    min-height: 60vh;
    max-height: 80vh;
}
#field td{
    border: 2px solid red;
}